* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
div.container {
    position: relative;
    top: 100px;
}

div.phan1 {
    width: 100%;
    height: 200px;
    background-color: rgb(0, 25, 40);
}
div.phan2 {
    width: 100%;
    height: 14800px;
    background-color: #b0cccf;
}

div.text {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cccf;
     height: 500px; 
}
div.hinh {
    height: 50px;
    width: 10%;
    float: inline-end;
}

div.phan2 div.text div.hinh img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan3 {
    width: 100%;
    height: 4200px;
    background-color: #b0cfbe;
}
div.hinh2 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text2 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cfbe;
     height: 500px; 
}
div.phan3 div.text2 div.hinh2 img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan4 {
    width: 100%;
    height: 3200px;
    background-color: #b0cccf;
}
div.hinh3 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text3 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cccf;
     height: 500px; 
}
div.phan4 div.text3 div.hinh3 img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan5 {
    width: 100%;
    height: 4700px;
    background-color: #b0cfbe;
}
div.hinh4 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text4 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cfbe;
     height: 500px; 
}
div.phan5 div.text4 div.hinh4 img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan6 {
    width: 100%;
    height: 3600px;
    background-color: #b0cccf;
}
div.hinh5 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text5 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cccf;
     height: 500px; 
}
div.phan6 div.text5 div.hinh5 img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan7 {
    width: 100%;
    height: 1200px;
    background-color: #b0cfbe;
}
div.hinh6 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text6 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cfbe;
     height: 500px; 
}
div.phan7 div.text6 div.hinh6 img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan8 {
    width: 100%;
    height: 4000px;
    background-color: #b0cccf;
}
div.hinh7 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text7 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cccf;
     height: 500px; 
}
div.phan8 div.text7 div.hinh7 img {
    width: 50%;
    position: relative;
    top: 10px;
}
div.phan9 {
    width: 100%;
    height: 4200px;
    background-color: #b0cfbe;
}
div.hinh8 {
    height: 100px;
    width: 50%;
    float: inline-end;
}
div.text8 {
    width: 80%;
    float: inline-end;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    background-color: #b0cfbe;
     height: 500px; 
}
div.phan9 div.text8 div.hinh8 img {
    width: 50%;
    position: relative;
    top: 10px;
}
